@model IEnumerable<WebProgrammingMovie.Models.Director>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:cornflowerblue">@Localizer["Director"]</h3>

<p>
    <a style="color: cornflowerblue" asp-action="Create">@SharedLocalizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:white">
                @Localizer["Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.DirectorName)
            </td>
            <td style="color:white">
                <a style="color: cornflowerblue" asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                <a style="color: cornflowerblue" asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Detail"]</a> |
                <a style="color: cornflowerblue" asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
