@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <section>
            <h1 style="color:white"> @SharedLocalizer["Sign"]</h1>
            <form id="account" method="post">
                <h5 style="color:white"> @SharedLocalizer["LocalAccount"]</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="color:white"> @SharedLocalizer["Email"]</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="color:white"> @SharedLocalizer["Password"]</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label style="color:white" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @SharedLocalizer["Remember"]
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> @SharedLocalizer["Sign"]</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword"> @SharedLocalizer["Remember"]</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
