@model WebProgrammingMovie.Models.Actor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:white">@SharedLocalizer["Detail"]</h3>

<div>

    <hr />
    <dl style="color:white" class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
